<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8"></link>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/task/create">New Task</a></li>
    </ul>
    <div class="main">
      <%= main %>
    </div>
    <script src="/static/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/tasks.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
