body {
  margin-top: 1.0em;
  background-color: #E9EFE4;
  font-family: "Georgia", "Helvetica", "Times New Roman", serif;
  color: #676;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h2 {
  font-size: 1.5em;
}
h3 {
  text-align: center;
}
a {
  color: #676;
}
a img {
  border-width: 0;
}
pre {
  background-image: url(grid.png);
  padding: 0.4em;
  font-family: "Consolas", "Monaco", "Courier New", monospaced;
}
pre .kwd {
  color: #66a;
}
pre .pln {
  color: #6aa;
}
pre .str {
  color: #966;
}
hr {
  border: 0;    
  width: 80%;
  border-bottom: 1px solid #aaa;
}
.description {
  margin: -3em 0 0 4em;
  font-size: 1.2em;
  font-style: italic;
}
.footer {
  font-size: 0.8em;
  text-align: center;
  padding-top: 3em;
}
