h1        { padding: 0; margin: 0; }
body      { font-family: Georgia; }
div.main  { clear: left; }
ul.nav    { padding: 0; margin: 0; }
.nav li   { float: left; padding: 5px; margin: 5px; list-style-type: none; background-color: #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
label     { display: block; float: left; width: 100px; }
