<html>
  <head>
    <link rel="icon" href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8"></link>
  </head>
  <body>
    <h1><a href="/"><%= title %></a></h1>
    <ul class="nav">
      <li><a href="/home/redir">A redirect</a></li>
      <li><a href="/home/another">An action sharing a view</a></li>
      <li><a href="/product">List of products</a></li>
      <li><a href="/error">Throw an error</a></li>
      <li><a href="/home/cookie">Cookie example</a></li>
    </ul>
    <div class="main">
      <%= main %>
    </div>
    <script src="/static/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/my.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
